@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply hover:underline underline-offset-2;
  }
}

#particles {
  background: linear-gradient(315deg, #1f2937 /* bray-800 */, #1e293b /* slate-800 */);
  background-size: 400% 100%;
  animation: bg-gradient 30s linear infinite;
}

@keyframes bg-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
